<p>contact works!</p>

<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
        
        <div class="form-group">
            <label >First Name:</label>
            <input type="text" class="form-control" formControlName="fname" required [ngClass]="{'is-invalid':isSubmitted && f.fname.errors}">

            <div *ngIf="isSubmitted && f.fname.errors?.required" class="invalid-feedback">F Name is required</div>
        </div>

        <div class="form-group">
            <label >Last Name:</label>
            <input type="text" class="form-control" formControlName="lname" required [ngClass]="{'is-invalid':isSubmitted && f.lname.errors}">

            <div *ngIf="isSubmitted && f.name.errors?.required" class="invalid-feedback">Last name is required</div>
        </div>

        <div class="form-group">
            <label >Email:</label>
            <input type="any" class="form-control" formControlName="email" required [ngClass]="{'is-invalid':isSubmitted && f.email.errors}">

            <div *ngIf="isSubmitted && f.email.errors?.required" class="invalid-feedback">Email is required</div>
        </div>

        <div class="form-group">
            <label >Contact No:</label>
            <input type="number" class="form-control" formControlName="phone" required [ngClass]="{'is-invalid':isSubmitted && f.phone.errors}">

            <div *ngIf="isSubmitted && f.phone.errors?.required" class="invalid-feedback">Contact Information is required</div>
        </div>

        <div class="form-group">
            <label >Query:</label>
            <input type="text" class="form-control" formControlName="age" required [ngClass]="{'is-invalid':isSubmitted && f.query.errors}">

            <div *ngIf="isSubmitted && f.query.errors?.required" class="invalid-feedback">Query is required</div>
        </div>
         <button class="btn btn-warning">Submit</button>
    </form>
</div>

        
