<nav class="d-flex justify-content-center kay bg-warning ">
<h2>WHO WE ARE</h2>
</nav>

<div class="mahi-1">
<br><br><br>
<p class="container" style="width: 50rem;">At Our Constrotech Group, customer is the central focus of all our ventures. We put an earnest effort in understanding the aspirations of our buyers with the objective of meeting all their expectations. We believe there is no joy greater than delivering customer happiness and satisfaction.
  <br><br><br><br>
  Our Group combines the dual ethos of integrity and aesthetics in building futuristic landmarks. With customer at the core of all its endeavours, every project under the Constrotech brand is conceptualised keeping in mind the aspirations of the buyer. 
  <br><br><br>
  This helps us to build enriching living spaces that exude a sense of pride amongst the inhabitants.With footprints into sectors like EPC, Hospitality and Healthcare the group aims to deliver inspiring milestones in every field it ventures as it explores newer horizons of growth.</p>
  
  <br><br><br>
</div>
  
  
  
  
  
  
  
  
  
  
  <main>
    <span class="bg-warning d-flex justify-content-center">
    
      <h3 class="px-5 mx-5 kay">{{h}}</h3>
    </span>
    <div class="mahi-1 flex-row">

    <br><br>
    <div class="container d-flex justify-content-evenly">
      <div class="card border-0" style="width: 25rem;">
        <img [src]="i1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h1}}</h5>
          <p class="card-text">{{p1}}</p>
          <a class="btn btn-warning" (click)="service()">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h2}}</h5>
          <p class="card-text">{{p2}}</p>
          <a class="btn btn-warning" (click)="service()">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i3" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h3}}</h5>
          <p class="card-text">{{p3}}</p>
          <a class="btn btn-warning" (click)="service()">{{b}}</a>
        </div>
      </div>
    </div><br>

    <div class="container d-flex justify-content-evenly">
      <div class="card border-0" style="width: 25rem;">
        <img [src]="i4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h4}}</h5>
          <p class="card-text">{{p4}}</p>
          <a class="btn btn-warning" (click)="service()">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i5" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h5}}</h5>
          <p class="card-text">{{p5}}</p>
          <a class="btn btn-warning" (click)="service()">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i6" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h6}}</h5>
          <p class="card-text">{{p6}}</p>
          <a class="btn btn-warning" (click)="service()">{{b}}</a>
        </div>
      </div>
    </div>
  </div>

</main>