<main>
  <div class="shubh-1 flex-row"><br><br><br>
    <span class="container">
      <h3 class="px-5 mx-5">{{h}}</h3>
    </span>
    <br><br>
    <div class="container d-flex justify-content-evenly">
      <div class="card border-0" style="width: 25rem;">
        <img [src]="i1" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h1}}</h5>
          <p class="card-text">{{p1}}</p>
          <a class="btn btn-warning" routerLink="ourServices/">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i2" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h2}}</h5>
          <p class="card-text">{{p2}}</p>
          <a class="btn btn-warning" routerLink="ourServices/">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i3" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h3}}</h5>
          <p class="card-text">{{p3}}</p>
          <a class="btn btn-warning" routerLink="ourServices/">{{b}}</a>
        </div>
      </div>
    </div><br>

    <div class="container d-flex justify-content-evenly">
      <div class="card border-0" style="width: 25rem;">
        <img [src]="i4" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h4}}</h5>
          <p class="card-text">{{p4}}</p>
          <a class="btn btn-warning" routerLink="ourServices/">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i5" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h5}}</h5>
          <p class="card-text">{{p5}}</p>
          <a class="btn btn-warning" routerLink="ourServices/">{{b}}</a>
        </div>
      </div>

      <div class="card border-0" style="width: 25rem;">
        <img [src]="i6" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{h6}}</h5>
          <p class="card-text">{{p6}}</p>
          <a class="btn btn-warning" routerLink="ourServices/">{{b}}</a>
        </div>
      </div>
    </div>
  </div>

</main>