<nav class="navbar navbar-expand-lg bg-secondary text-white  ">
  <div class="container col-md-12">
    <div class="col-md-6">
      <ul class="nav">
        <li class="px-2"><a href="https://twitter.com/i/flow/login"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="px-2"><a href="https://www.facebook.com/login"> <i class="fa-brands fa-facebook"></i> </a></li>
        <li class="px-2"><a href="https://accounts.google.co.in"><i class="fa-brands fa-google-plus-g"></i></a></li>
        <li class="px-2"><a href="https://in.pinterest.com/login/"> <i class="fa-brands fa-pinterest"></i> </a></li>
        <li class="px-2"><a href="https://github.com/"> <i class="fa-brands fa-github"></i> </a></li>
      </ul>

    </div>

    <div class="col-md-6 ">
      <ul class="nav justify-content-end">
        <li class="px-2"> <i class="fa-solid fa-phone"></i> <a> {{no}} </a></li>
        <li class="px-2"> <i class="fa-regular fa-envelope"></i> <a> {{mail}} </a></li>
        <li class="px-2"> <i class="fa-regular fa-clock"></i> <a> {{timetable}} </a></li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar sticky-top navbar-expand-lg  bg-secondary ">
  <div class="container col-lg-12 ">
    <div class="col-lg-6">
      <a href="#"><img src="../assets/logo-light.png" alt="Logo Image"></a>
    </div>

    <div class="col-lg-6 ">
      <ul class="nav justify-content-end">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Home
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="home">HOME</a></li>
            <li><a class="dropdown-item" routerLink="home/aboutUs">ABOUT US</a></li>
            <li><a class="dropdown-item" routerLink="home/facilities">FACILITIES</a></li>
            <li><a class="dropdown-item" routerLink="home/futureWork">FUTURE WORK</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Portfolio
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="portfolio/commercial">COMMERCIAL</a></li>
            <li><a class="dropdown-item" routerLink="portfolio/educational">EDUCATIONAL</a></li>
            <li><a class="dropdown-item" routerLink="portfolio/industrial">INDUSTRIAL</a></li>
            <li><a class="dropdown-item" routerLink="portfolio/residential">RESIDENTIAL</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            Our Services
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="ourServices/architectural">ARCHITECTURAL DESIGN</a></li>
            <li><a class="dropdown-item" routerLink="ourServices/construction">CONSTRUCTION</a></li>
            <li><a class="dropdown-item" routerLink="ourServices/greenBuilding">GREEN BUILDING</a></li>
            <li><a class="dropdown-item" routerLink="ourServices/houseRenovation">HOUSE RENOVATION</a></li>
            <li><a class="dropdown-item" routerLink="ourServices/reconstruction">RECONSTRUCTION</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
            data-bs-toggle="dropdown" aria-expanded="false">
            City
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="cities/pune">PUNE</a></li>
            <li><a class="dropdown-item" routerLink="cities/mumbai">MUMBAI</a></li>
          </ul>
        </div>

        <li class="px-2"><a class="btn btn-secondary"> <i class="fa-solid fa-magnifying-glass"></i> </a></li>
        <li class="px-2"><a class="btn btn-secondary"> <i class="fa-solid fa-cart-shopping"></i> </a></li>
      </ul>
    </div>
  </div>
</nav>