<!-- body part -->

<body>
  <div>
    <div class="background-image carousel-inner ">
      <img [src]="bgimg" alt="project-img opacity-1">
      <div class="carousel-caption d-none  d-md-block ">
        <p>{{p1}}</p>
        <h1>{{h1}}</h1>
        <button class="btn btn-warning" routerLink="portfolio/"> {{b1}}</button>
      </div>
    </div>

    <!-- slider part -->
    <nav>
      <div class="navbar justify-content-center bg-warning text-white p-5 border border-white ">
        <h3 class="">{{h2}}</h3>
      </div>
    </nav>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="slide1" class="d-block w-100" alt="educational image">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{h3}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="slide2" class="d-block w-100" alt="residential image">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{h4}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img [src]="slide3" class="d-block w-100" alt="industrial image">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{h5}}</h5>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!-- services -->
  <app-facilities></app-facilities>

  <!-- featured work -->
  <app-futurework></app-futurework>

  <!-- What we offer -->
  <app-aboutus></app-aboutus>


</body>