<!-- services part -->
<main>

  <nav>
    <div class="navbar bg-warning text-white justify-content-center p-5">
      <div class="col-lg-8 ">
        <h4>
          {{h1}}</h4>
      </div>
      <div class="col-lg-3">
        <button class="btn bg-white px-5 rounded-3px">{{b1}}</button>
      </div>
    </div>
  </nav>
  <br><br><br>

  <nav>
    <div class="navbar justify-content-center">
      <h3 class=" border-bottom border-warning border-3">{{h2}}</h3>
    </div>
  </nav> <br>

  <div class="container flex-row ">
    <div class="d-flex justify-content-evenly">
      <div class="d-flex card border-0" style="width: 18rem;">
        <span class="h1"> <i class="fa fa-pencil text-warning px-4" aria-hidden="true"></i></span>
        <div class="card-body">
          <h5 class="card-title">{{h3}}</h5>
          <p class="card-text">{{p1}}</p>
        </div>
      </div>

      <div class="d-flex card border-0" style="width: 18rem;">

        <div class="card-body">
          <span class="h1"> <i class="fa fa-home text-warning" aria-hidden="true"></i></span>
          <h5 class="card-title">{{h4}}</h5>
          <p class="card-text">{{p2}}</p>
        </div>
      </div>

      <div class="d-flex card border-0" style="width: 18rem;">
        <div class="card-body">
          <span class="h1"> <i class="fa fa-lightbulb text-warning" aria-hidden="true"></i></span>
          <h5 class="card-title">{{h5}}</h5>
          <p class="card-text">{{p3}}</p>
        </div>
      </div>
    </div>

  </div><br>

  <div class="container flex-row ">
    <div class="d-flex justify-content-evenly">
      <div class="d-flex card border-0" style="width: 18rem;">
        <div class="card-body">
          <span class="h1"> <i class="fa fa-handshake text-warning" aria-hidden="true"></i></span>
          <h5 class="card-title">{{h6}}</h5>
          <p class="card-text">{{p4}}</p>
        </div>
      </div>
      <div class="d-flex card border-0" style="width: 18rem;">
        <div class="card-body">
          <span class="h1"> <i class="fa fa-fire-extinguisher text-warning" aria-hidden="true"></i></span>
          <h5 class="card-title">{{h7}}</h5>
          <p class="card-text">{{p5}}</p>
        </div>
      </div>
      <div class="d-flex card border-0" style="width: 18rem;">
        <div class="card-body">
          <span class="h1"> <i class="fa fa-bath text-warning " aria-hidden="true"></i></span>
          <h5 class="card-title">{{h8}}</h5>
          <p class="card-text">{{p6}}</p>
        </div>
      </div>
    </div>

  </div>
</main>
<br><br>